.label-sm{
    display:inline-block;
    width:80px;
}
.label-md{
    display:inline-block;
    width:150px;
}
.label-lg{
    display:inline-block;
    width:250px;
}
.label-xl{
    display:inline-block;
    width:350px;
}
.label-group{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    width:100%;
}
.form-input{
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0px -2px 2px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow

}
.p-reset{
    padding-left: 0px;
    padding-right: 0px;
}