﻿@charset "utf-8";
/* CSS Document */

#Black_layer {
	position: fixed;
	z-index: 1000;
	left: 0px;
	top: 0px;
	display: none;
	height: 100%;
	width: 100%;
	background-color:rgba(255,255,255,0.80);
}
#loader-popup {
	background-color: #A6A4A4;
	display: block;
	position: relative;
	height: auto;
	width: 400px;
	top: 20%;
	z-index: 2000;
	left: auto;
	right: auto;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #A6A4A4;
}

.loader-content{
	text-align: center;
}

