@charset "utf-8";

/* Text Color */
.Petrol{
	color: rgba(0,51,51,1);
}
.Fire{
	color: #EA9703;
}
.Silver{
	color: rgba(204,204,204,1);
}
.Gray{
	color: rgba(102,102,102,1);
}
.Black{
	color: rgba(0,0,0,1);
}
.Red{
	color: rgba(255,0,0,1);
}
.Red-dark{
	color: rgba(154,14,14,1);
}
.Blue{
	color: rgba(0,0,255,1);
}
.Blue-dark{
	color: rgba(0,51,102,1);
}
.Green{
	color: rgba(0,255,0,1);
}
.Green-dark{
	color: rgba(0,102,0,1);
}
.White{
	color: rgba(255,255,255,1);
}
.Yellow{
	color: rgba(255,204,0,1);
}

/* Txt-Shadow */

.Shadowed{
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
}

/* Text -Glow */

.Black_blur{
	text-shadow: 0px 0px 4px rgba(0,0,0,1);
}
.White_blur{
	text-shadow: 0px 0px 4px rgba(255,255,255,1);
}
.Red_blur{
	text-shadow: 0px 0px 4px rgba(255,0,0,1);
}
.Blue_blur{
	text-shadow: 0px 0px 4px rgba(51,102,255,1);
}
.Fire_blur{
	text-shadow: 0px 0px 4px rgba(252,141,20,1);
}

/* Text Style */
.Italic{ font-style:italic;
}
.Bold{
	font-weight:bold;
}
.Bold_italic{
	font-weight:bold;
	font-style:italic;
}

/* Text Decorations */
.Undln{
	text-decoration: underline;
}
.Blink{
	text-decoration: blink;
}
.Flat{
	text-decoration: none;
}
.Ovrln{
	text-decoration: overline;
}
.Ln-th{
	text-decoration: line-through;
}

/* Title Style */

.Title_01 {
	font-size: 46px;
	height: auto;
	width: auto;
}
.Title_02 {
	font-size: 36px;
	height: auto;
	width: auto;
}


.Title_03 {
	font-size: 26px;
	height: auto;
	width: auto;
}
.Title_04 {
	font-size: 16px;
	height: auto;
	width: auto;
}


/* Bouton Fluid */

.Btn-fluid{
	width: 350px;
	height: 115px;
}

.Image-fluid{
	width: 100%;
	height: 15%
}



/* For media device with  max width 1023px */
@media (max-width: 1014px) {
.Title {
	font-size: 36px;
	height: auto;
	width: auto;
}
.Title_02 {
	font-size: 28px;
	height: auto;
	width: auto;
}


.Title_03 {
	font-size: 18px;
	height: auto;
	width: auto;
}
.Title_04 {
	font-size: 14px;
	height: auto;
	width: auto;
  }
  /* Bouton Fluid */

.Btn-fluid{
	width: 240px;
	height: 85px;
}
}   
/* End  Media query max width 1023px */

/* For media device with max width 480px */
@media (max-width: 469px) {
.Title {
	font-size: 32px;
	height: auto;
	width: auto;
}
.Title_02 {
	font-size: 20px;
	height: auto;
	width: auto;
}


.Title_03 {
	font-size: 16px;
	height: auto;
	width: auto;
}
.Title_04 {
	font-size: 12px;
	height: auto;
	width: auto;
  }

  /* Bouton Fluid */

.Btn-fluid{
	width: 180px;
	height: 63px;
}
}     /* End  Media query min width 480px */

/* Box & Button Border style */

.Solid{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.Dotted{
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
}
.Dashed{
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
}
.Double{
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
}
.Ridge{
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
}
.Groove{
	border-top-style: groove;
	border-right-style: groove;
	border-bottom-style: groove;
	border-left-style: groove;
}
.Box-0 {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding: 15px;
	height: auto;
	width: auto;
}
.Box-1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	padding: 15px;
	height: auto;
	width: auto;
}
.Box-2 {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	padding: 15px;
	height: auto;
	width: auto;
}
.Box-3 {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	padding: 15px;
	height: auto;
	width: auto;
}
.Box-4 {
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	padding: 15px;
	height: auto;
	width: auto;
}
.Box-5 {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	padding: 15px;
	height: auto;
	width: auto;
}

/* Box & Button Border color */

.Brd-black{
	border-top-color: rgba(0,0,0,1);
	border-right-color: rgba(0,0,0,1);
	border-bottom-color: rgba(0,0,0,1);
	border-left-color: rgba(0,0,0,1);
}
.Brd-white{
	border-top-color: rgba(255,255,255,1);
	border-right-color: rgba(255,255,255,1);
	border-bottom-color: rgba(255,255,255,1);
	border-left-color: rgba(255,255,255,1);
}
.Brd-gray{
	border-top-color: rgba(102,102,102,1);
	border-right-color: rgba(102,102,102,1);
	border-bottom-color: rgba(102,102,102,1);
	border-left-color: rgba(102,102,102,1);
}
.Brd-blue{
	border-top-color: rgba(0,0,153,1);
	border-right-color: rgba(0,0,153,1);
	border-bottom-color: rgba(0,0,153,1);
	border-left-color: rgba(0,0,153,1);
}
.Brd-red{
	border-top-color: rgba(218,19,14,1);
	border-right-color: rgba(218,19,14,1);
	border-bottom-color: rgba(218,19,14,1);
	border-left-color: rgba(218,19,14,1);
}
.Brd-yellow{
	border-top-color: rgba(255,204,0,1);
	border-right-color: rgba(255,204,0,1);
	border-bottom-color: rgba(255,204,0,1);
	border-left-color: rgba(255,204,0,1);
}
.Brd-green{
	border-top-color: rgba(0,102,0,1);
	border-right-color: rgba(0,102,0,1);
	border-bottom-color: rgba(0,102,0,1);
	border-left-color: rgba(0,102,0,1);
}
.Brd-fire{
	border-top-color: rgba(252,141,20,1);
	border-right-color: rgba(252,141,20,1);
	border-bottom-color: rgba(252,141,20,1);
	border-left-color: rgba(252,141,20,1);
}
.Brd-sblack{
	border-top-color: rgba(51,51,51,1);
	border-right-color: rgba(51,51,51,1);
	border-bottom-color: rgba(51,51,51,1);
	border-left-color: rgba(51,51,51,1);
}
.Brd-lgray{
	border-top-color: rgb(219, 214, 214);
	border-right-color:rgb(219, 214, 214);
	border-bottom-color: rgb(219, 214, 214);
	border-left-color: rgb(219, 214, 214);
}
.Brd-petrol{
	border-top-color: rgba(0,51,51,1);
	border-right-color: rgba(0,51,51,1);
	border-bottom-color: rgba(0,51,51,1);
	border-left-color: rgba(0,51,51,1);
}
/* Box & Button Size and Radius */

.Brd-rd-5{
	border-radius: 5px;
}
.Brd-rd-10{
	border-radius: 10px;
}
.Brd-rd-15{
	border-radius: 15px;
}
.Brd-rd-20{
	border-radius: 20px;
}

/* Box & Button Shadow and Blur */

.Bxshd-dr-1{
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
}
.Bxshd-dr-2{
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,1);
}
.Bxshd-dr-3{
	box-shadow: 1px 1px 8px 1px rgba(0,0,0,1);
	}
.Bxshd-dr-4{
	box-shadow: 1px 1px 12px 1px rgba(0,0,0,1);
	}
.Bxshd-dr-5{
	box-shadow: 1px 1px 16px 1px rgba(0,0,0,1);
	}
.Bxshd-ul-1{
	box-shadow: -1px -1px 1px 1px rgba(0,0,0,1);
}
.Bxshd-ul-2{
	box-shadow: -1px -1px 4px 1px rgba(0,0,0,1);
}
.Bxshd-ul-3{
	box-shadow: -1px -1px 8px 1px rgba(0,0,0,1);
	}
.Bxshd-ul-4{
	box-shadow: -1px -1px 12px 1px rgba(0,0,0,1);
	}
.Bxshd-ul-4{
	box-shadow: -1px -1px 16px 1px rgba(0,0,0,1);
	}
.Bxshd-bl-1{
	box-shadow: 1px 0px 5px 1px rgba(0,0,0,1);
	}
.Bxshd-bl-2{
	box-shadow: 1px 0px 10px 1px rgba(0,0,0,1);
	}
.Bxshd-bl-3{
	box-shadow: 1px 0px 15px 1px rgba(0,0,0,1);
	}
.Bxshd-bl-4{
	box-shadow: 1px 0px 20px 1px rgba(0,0,0,1);
	}

/* Box background opacity */

.Bg-90{
	background-color: rgba(51,51,51,0.9);
}
.Bg-80{
	background-color: rgba(51,51,51,0.8);}
.Bg-70{
	background-color: rgba(51,51,51,0.7);}
.Bg-60{
	background-color: rgba(51,51,51,0.6);}
.Bg-50{
	background-color: rgba(51,51,51,0.5);}
.Bg-40{
	background-color: rgba(51,51,51,0.4);}

/*Marges des conteneurs */

.Pdt-10{
	padding-top: 10px;
}
.Pdt-15{
	padding-top: 15px;
}
.Pdt-20{
	padding-top: 20px;
}
.Pdb-10{
	padding-bottom: 10px;
}
.Pdb-15{
	padding-bottom: 15px;
}
.Pdb-20{
	padding-bottom: 20px;
}
.Pd-10{
	padding: 10px;
}
.Pd-15{
	padding: 15px;
}
.Pd-20{
	padding: 20px;
}
.Mgt-10{
	margin-top: 10px;
}
.Mgt-15{
	margin-top: 15px;
}
.Mgt-20{
	margin-top: 20px;
}
.Mgb-10{
	margin-bottom: 10px;
}
.Mgb-15{
	margin-bottom: 15px;
}
.Mgb-20{
	margin-bottom: 20px;
}
.Mgb-50{
	margin-bottom: 50px;
}
.Mgb-70{
	margin-bottom: 70px;
}
.Mg-10{
	margin: 10px;
}
.Mg-15{
	margin: 15px;
}
.Mg-20{
	margin: 20px;
}
.Sp-10{
	margin-left: 10px;
	margin-right: 10px;
}








	
