.p_nav_title {
	float:left; 
	width:70%
}

.top_nav .p_nav_right {
	width:20%;
}

.ncu_title {
	text-align:center;
}
.mgl-20 {
	margin-left:20px;
}


.mit-5{
  margin-top: 5px;
}
.mit-8{
  margin-top: 8px;
}
.mit-10{
  margin-top: 10px;
}
.mit-13{
  margin-top: 13px;
}
.mit-15{
  margin-top: 15px;
}
.mit-20{
  margin-top: 20px;
}
.mit-25{
  margin-top: 25px;
}

.mib-5{
  margin-bottom: 5px;
}
.mib-8{
  margin-bottom: 8px;
}
.mib-10{
  margin-bottom: 10px;
}
.mib-13{
  margin-bottom: 13px;
}
.mib-15{
  margin-bottom: 15px;
}
.mib-20{
  margin-bottom: 20px;
}
.mib-25{
  margin-bottom: 25px;
}

.mil-5{
  margin-left: 5px;
}
.mil-10{
  margin-left: 10px;
}

.mil-15{
  margin-left: 15px;
}
.mil-20{
  margin-left: 20px;
}

.mil-25{
  margin-left: 25px;
}

.mir-5{
  margin-right: 5px;
}
.mir-10{
  margin-right: 10px;
}

.mir-15{
  margin-right: 15px;
}
.mir-20{
  margin-right: 20px;
}

.mir-25{
  margin-right: 25px;
}

.pd-5{
  padding: 5px;
}

.pd-10{
  padding: 10px;
}
.pd-15{
  padding: 15px;
}
.pd-20{
  padding: 20px;
}
.pd-25{
  padding: 25px;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.error{
  color: #990000;
}
.red{
  color: #990000;
}

.green{
  color: #005702;
}

.blue{
  color: #002166;
}

.orange{
  color: #8F5B00
}